<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>   
        <th scope="col">Nazwa firmy</th>
        <th scope="col" class="d-none d-lg-table-cell">Przedsiębiorca</th>
        <th scope="col">Status</th>
        <th scope="col" class="d-none d-lg-table-cell">Adres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.companyName }}</td>
        <td class="d-none d-lg-table-cell">{{ company.businessOwnerFirstName }} {{ company.businessOwnerLastName }}</td>
        <td>{{ company.status == 'WYLACZNIE_W_FORMIE_SPOLKI' ? 'WYŁĄCZNIE W FORMIE SPÓŁKI' : company.status }}</td>
        <td class="d-none d-lg-table-cell">{{ company | address }}</td>
      </tr>
    </tbody>
  </table>
</div>