<div class="d-flex">
  <div class="mr-auto p-2">
    <button (click)="backToForm()" class="btn btn-dark mb-4 h5">
      <fa-icon class="mr-1" [icon]="faArrowLeft"></fa-icon>Wróć
    </button>
  </div>
  <app-pagination *ngIf="pagination" [pagination]="pagination" (updateCompaniesList)="changePage($event)"></app-pagination>
</div>
<div *ngIf="companies.length; else noContent" class="table-responsive">
  <table class="table">
    <thead>
      <tr>   
        <th scope="col">Nazwa firmy</th>
        <th scope="col" class="d-none d-lg-table-cell">Przedsiębiorca</th>
        <th scope="col">Status</th>
        <th scope="col" class="d-none d-lg-table-cell">Adres</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.companyName }}</td>
        <td class="d-none d-lg-table-cell">{{ company.businessOwnerFirstName }} {{ company.businessOwnerLastName }}</td>
        <td>
          {{ company.status == 'WYLACZNIE_W_FORMIE_SPOLKI'
                ? 'WYŁĄCZNIE W FORMIE SPÓŁKI'
                : company.status == 'OCZEKUJE_NA_ROZPOCZECIE_DZIALANOSCI'
                  ? 'OCZEKUJE NA ROZPOCZĘCIE DZIAŁALNOŚCI'
                  : company.status
          }}
        </td>
        <td class="d-none d-lg-table-cell">{{ company | address }}</td>
        <td>
          <app-company [simpleCompany]="company"></app-company>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noContent>
  <div class="card bg-light mb-3">
    <div class="card-header">Brak wyników</div>
    <div class="card-body">
      <p class="card-text">Nie znaleziono wyników spełniających kryteria wyszukiwania</p>
    </div>
  </div>
</ng-template>